:root {
  --white: #f5f2fb;
  --tan-1: #f7f6fb;
  --tan-2: #dedde7;
  --tan-3: #d1d2e2;
  --tan-4: #00001f;
  --highlight: #625cdab5;
  --text-light: #fffce9;
  --text-dark: #130e21;
}

form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2.25vmin;
  color: var(--text-dark);
}

label {
  font-size: 2vmin;
  display: flex;
  align-items: center;
}

input {
  padding: 1vmin;
  font-size: 2vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--text-dark);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

input:focus {
  border-color: var(--highlight);
}

.form-container {
  padding: 1.5em;
  background-color: var(--tan-1);
  border: .1em solid var(--tan-3);
  border-radius: .25em;
  max-width: fit-content;
}
.form-container-parent {
  display: flex;
  justify-content: center;
}
