.knifedetails {
  padding: 1em;
  border-radius: .5em;
}
.knifedetails:hover {
  box-shadow: .1em .1em .4em #bc89f9;
}

table {
  width: 90%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  
}