.knifedetails {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  margin: 2em;
  padding: 2em;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px 0 #000;
  color: #000;
}
.knifedetails:hover {
  box-shadow: 0 0 .5em .5em #bc89f9;
}


