h1 {
  font-size: 3rem;
}
h2 {
  padding: 1em;
}
.btnInTitle {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detailcontainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 4em;
  gap: 2em;
}

.knifeDetails, .knifeNotes {
  text-align: left;
  display: flex;
  flex-direction: column;
}

.knifeDetails h2 {
  margin: 0;
  padding: 0
}

.knifeDetail {
  margin-right: 0;
  margin: 0;
}

.name, .length, .steel, .purchaseDate, .brand, .purchase, .notes {
  margin-bottom: 0;
  display: flex;
  justify-content: space-between;
}

aside {
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  row-gap: 4em;
  min-width: 18em;
}

table {
  min-width: 25em;
  margin: 1em;
  text-align: left;
}

@media (max-width: 700px) {

  .detailcontainer {
    flex-direction: column;
  }
  .sharpeingDetails {
    padding: 1em;
  }
  .sharpeingDetailsTable {
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    max-width: 10em;
  }

  .hide-on-small {
    display: none;
  }

  table {
    min-width: 10em;
    text-align: left;
  }

  .name, .length, .steel, .purchaseDate, .brand, .purchase, .notes {
    margin-bottom: 0;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
  }

  .btnInTitle {
    display: flex;
    justify-content: flex-start;
    flex-grow: 0;
  }

}