.herocontainertop {
  height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;

}

.hero {
  font-family: "Megrim", system-ui;
  font-size: 4REM;
  text-align: left;
  padding-top: 2em;;
  padding-left: 4em;
}
.copy {
  max-width: 30em;
  text-align: center;
  margin: auto;
  color: #fff;
  padding: 1em;
  align-self: flex-end;
}
