.herocontainertop {
  height: 80vh;
}
.hero {
  font-family: "Megrim", system-ui;
  font-size: 4REM;
  text-align: left;
  padding-left: 1em;
}
.copy {
  max-width: 30em;
  text-align: center;
  margin: auto;
  color: black;
  padding: 1em;
}

.herocontainer {
  min-width: 5em;
  width: 100vw;
  height: 15em;
  background-color: var(--white);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .gridhero {
  display: grid;
  grid-template-areas: 
  ". top top top"
  ". mid copy . "
  ". lower copy . ";

  grid-template-rows: 1fr .5fr .5fr
}
.copy {
  grid-area: copy;
  max-width: 18em;
  text-align: right;
  font-size: .75rem
}
.top {
  grid-area: top;
}

.mid {
  grid-area: mid;
}

.lower {
  grid-area: lower;
} */