.herocontainertop {
  height: 70vh;
}
.hero {
  font-family: "Megrim", system-ui;
  font-size: 4REM;
  text-align: left;
  padding-left: 1em;
}
.copy {
  max-width: 30em;
  text-align: center;
  margin: auto;
  color: #fff;
  padding: 1em;
}

